.profile-principal {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  padding: 10rem;
}

.profile-principal img {
  height: 20rem;
  margin-bottom: 3rem;
}

.profile-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.profile-inputs span {
  color: white;
}

.profile-inputs input {
  height: 3rem;
  border-radius: 10px;
  border: none;
  background: #333c60;
}
